*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
 
/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}
 
/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
 
/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
 
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}
 
/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
 
/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

 
/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* =========================Styles============================= */

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  /* background-color: #6B8FD4; */
  background: linear-gradient(to right, #0079B5, #00B049);
  font-size: 18px;
}

.full-container {
  display: flex;
  /* justify-content: space-between; */
}

.left_container {
  width: 30%;
}

.date {
  margin: 0 auto;
  padding-top: 30px;
}

.time {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  opacity: .6;
}

.year {
  text-align: center;
  font-size: 33px;
  opacity: .6;
  margin-top: -20px;
  margin-left: 5px;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  /* min-height: 100vh; */
  margin-top: 50px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 1.5rem;
  border: 1px solid #fff;
  outline: none;
  background-color: rgba(255, 255, 255, .55);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .75);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
}

.output .previous-operand {
  color:rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: #fff;
  font-size: 2.5rem;  
}

.todo_container {
  align-self: flex-start;
  width: 40%;
  /* margin: 0 auto; */
  text-align: center;
  margin-top: 50px;
  background-color: #FFCF73;
  padding: 40px 0 60px 0;
  border-radius: 10px;
  box-shadow: 0 0 35px -5px;
}

.message {
  display: block;
  margin: 0 auto;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
  padding: 0 10px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.add {
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.add:active {
  background: rgba(0,0,0,.1);
}

.important {
  font-weight: bold;
  color: red;
}

.done {
  font-weight: bold;
  color: green;
}

li {
  width: 70%;
  margin: 0 auto;
  text-align: left;
  padding: 30px 0px;
}

li:first-child {
  margin-top: 50px;
}

li:not(:last-child) {
  border-bottom: 1px solid #000000;
}

input[type=checkbox] {
  height: 20px;
  width: 20px;
  margin-right: 20px;
}

li {
  display: flex;
  align-items: center;
}

.authority {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
}

/* input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked) {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
} */